*{
    z-index: 1;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #1E212C;
    background-color: #FFFFFF;
    z-index: 0;
}

.abstract-art__1{
            position: absolute;
    top: 1000px;
    left: 90%;
    z-index: 0;
box-sizing: border-box;
}
.abstract-art__2{
    position: absolute;
    top: 600px;
    left: 3%;
    z-index: 0;
    box-sizing: border-box;
}

@media (max-width: 600px){
    .abstract-art__1 {
        display: none;
        visibility: none;
    }
    .abstract-art__2 {
        display: none;
        visibility: none;
    }
}