.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 15px;
    width: fit-content;
    height: fit-content;
    justify-items: center;
    max-width: 100%;
    margin: 30px 0px 0px 0px;
}


@media (max-width: 500px) {
    .catalog {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        gap: 15px;
        width: fit-content;
        height: fit-content;
        justify-items: center;
        max-width: 100%;
        padding: 15px;
    }
}