.product-card {
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #E5E8ED;
    box-shadow:
        0px 4px 4px -4px rgba(30, 33, 44, 0.03),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04),
        0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    border-radius: 4px;

    .product-card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    }

    .product-card__content {
        margin: 24px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-items: start;
        gap: 15px;

        .product-card__category {
            border: 1px solid transparent;
            border-radius: 4px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 14px;
            margin: 0;
            line-height: 150%;
            color: #FFFFFF;
            padding: 1px 8px 1px 8px;

            &--cyan {
                border: 1px solid transparent;
                border-radius: 4px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                line-height: 150%;
                color: #FFFFFF;
                padding: 1px 8px 1px 8px;
                background-color: #03CEA4;
            }

            &--blue {
                border: 1px solid transparent;
                border-radius: 4px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                line-height: 150%;
                color: #FFFFFF;
                padding: 1px 8px 1px 8px;
                background-color: #5A87FC;
            }

            &--orange {
                border: 1px solid transparent;
                border-radius: 4px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                line-height: 150%;
                color: #FFFFFF;
                padding: 1px 8px 1px 8px;
                background-color: #F89828;
            }

            &--red {
                border: 1px solid transparent;
                border-radius: 4px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                line-height: 150%;
                color: #FFFFFF;
                padding: 1px 8px 1px 8px;
                background-color: #F52F6E;
            }

            &--purple {
                border: 1px solid transparent;
                border-radius: 4px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                line-height: 150%;
                color: #FFFFFF;
                padding: 1px 8px 1px 8px;
                background-color: #7772F1;
            }
        }

        .product-card__title {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 20px;
            margin: 0;
            line-height: 150%;
        }
    }
}