@use 'base/fonts/fonts';

@use 'blocks/body/body';
@use 'blocks/main-container/main-container';
@use 'blocks/introduction/introduction';
@use 'blocks/category-search/category-search';
@use 'blocks/category-nav/category-nav';
@use 'blocks/search-form/search-form';
@use 'blocks/catalog/catalog';
@use 'blocks/product-card/product-card';
@use 'blocks/load-more/load-more';