.category-search{
    width: 100%;
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
}

@media (max-width: 1200px){
    .category-search{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}